---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Sora', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #a9b1d6;
$brand-color:      #2a7ae2;
$background-color: #1a1b26;

$background-color-light: #fffaf0;
$text-color-light: #586e75;
$brand-color-light: #1a73e8;

$grey-color:       #848484;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$accent-color: #7aa2f7;
$accent-hover-color: #9eceff;
$secondary-text-color: lighten(#5c6370, 20%);
$secondary-text-color-light: #5c6370;
$border-color: #2c2e3b;
$card-bg-color: #24283b;

$accent-text: #c0caf5;
$accent-text-light: #2c3e50;

$border-color-light: #d9ceb8;
$card-bg-color-light: #eee8d5;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
