---
layout: default
comments: true
---

<div class="home">

  <h2 class="text-2xl font-bold mb-8">Posts</h2>
  <div class="space-y-8">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <article class="post-card">
            <header class="mb-2">
              <p class="font-mono text-sm text-[var(--secondary-text-color)]">{{ post.date | date: "%b %-d, %Y" }}</p>
                <h3 class="text-2xl font-bold mt-1">
                    <a href="{{ post.url | prepend: site.baseurl }}" class="hover:text-[var(--accent-color)] transition-colors duration-200">{{ post.title }}</a>
                </h3>
            </header>
            <p class="text-base mb-4">
                An in-depth look at how lazy evaluation in data structures like lists can lead to more efficient and elegant code, especially when dealing with infinite sequences or large datasets.
            </p>
            <footer class="flex flex-wrap items-center gap-2">

              {% for post_tag in post.tags %}
                {% if post_tag %}
                <span class="tag">
                  <a href="{{ "/tag/" | append: post_tag }}">
                    {{ post_tag }}
                  </a>
                </span>
                {% endif %}
              {% endfor %}

            </footer>
        </article>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
