<header class="site-header">
  
  
  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
	<h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      </div>
    </div>

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>
      
      <div class="footer-col footer-col-2">
      </div>
      
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
	  
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
	  <li>
	    <a href="mailto:{{ site.email }}">
	      <span class="icon">
		<img src="/images/email.png"/>
	      </span>
	      <span class="username">
		justinhj@gmail.com
	      </span>
	    </a>
	  </li>
	  <li>
	    <a href="https://www.linkedin.com/in/justinheyesjones">
	      <span class="icon">
		<img src="/images/linkedin.png"/>
	      </span>
	      <span class="username">
		LinkedIn
	      </span>
	    </a>
	  </li>
        </ul>
	<a href="/privacy.html">Privacy Information</a>
      </div>
      
    </div>
    
  </div>
  
</header>
