<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
{% if page.layout == 'post' %}
  {% assign post_description = page.excerpt | strip_html | strip_newlines | escape %}
  {% if post_description == "" %}
    {% assign post_description = site.description | escape %}
  {% endif %}
{% else %}
  {% assign post_description = site.description | escape %}
{% endif %}
  <meta name="description" content="{{ post_description | truncate: 160 }}">

  <link href="{{ '/css/style.css' | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  
  <!-- Preload local fonts -->
  <link rel="preload" href="/fonts/sora-v17-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/sora-v17-latin-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/jetbrains-mono-v24-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/jetbrains-mono-v24-latin-500.woff2" as="font" type="font/woff2" crossorigin>
    
  <script>
    (function() {
      var theme = localStorage.getItem('theme') || 'system';
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else if (theme === 'light') {
        document.documentElement.classList.add('light');
      }
    })();
  </script>
    
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "2e274800bbdb41cfbfda04a3ea01bd0a"}'></script><!-- End Cloudflare Web Analytics -->

{% if page.layout == 'post' %}
{% assign post_description = page.excerpt | strip_html | strip_newlines | escape %}
{% if post_description == "" %}
  {% assign post_description = site.description | escape %}
{% endif %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "headline": "{{ page.title | escape }}",
  "description": "{{ post_description }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author | default: site.title | escape }}"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}"
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "{{ site.url }}",
  "name": "{{ site.title | escape }}",
  "description": "{{ site.description | escape }}"
}
</script>
{% endif %}

</head>
  
