<header class="site-header">
  
    <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
	<h5><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h5>
      </div>
    </div>

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <p>
          <img width="110px" src="/images/blogprofiletransparent.png"/></p>

      </div>
      
      <div class="footer-col footer-col-2">
        <p>{{ site.description }} </p>
      </div>
      
      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
	  
	  <li>
	    <a href="mailto:{{ site.email }}">
	      <span class="icon">
		<img src="/images/email.png"/>
	      </span>
	      <span class="username">
		{{ site.email_display }}
	      </span>
	    </a>
	  </li>

	  <li>
	    <a href="https://t.me/functionaljustinscala">
	      <span class="icon">
		<img src="/images/telegram.png"/>
	      </span>
	      <span class="username">
		Telegram channel
	      </span>
	    </a>
	  </li>

          <li>
            <a href="https://gitter.im/justinhj">
            <span class="icon">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 98.7 16.3" data-v-44ebcb1a=""><g><path d="M20.9,0.3h2.6v15.8h-2.6V0.3z"></path> <path d="M34.8,2.9h-4V0.3h11.8v2.6h-5.2v13.2h-2.6V2.9z"></path> <path d="M51.9,2.9h-4V0.3h11.8v2.6h-5.2v13.2h-2.6V2.9z"></path> <path d="M66.4,0.3h11.8v2.6H69v3.9h7.9v2.6H69v4h9.2v2.6H66.4V0.3z"></path> <path d="M98.7,16.1l-4.2-5.9c1.7-0.9,2.8-2.5,2.8-4.6c0-3.1-2.5-5.3-5.7-5.3l-6.2,0v15.8h2.6l0-5.3
    c0,0,3.6,0,3.6,0l3.8,5.3H98.7z M88.1,8.2l0-5.3l3.5,0c1.7,0,3,1,3,2.6c0,1.7-1.4,2.6-3,2.6L88.1,8.2z"></path> <path d="M7.9,7.1v2.6l3.9,0c0,0,0,1.4,0,2.3c-0.1,0.2-0.4,1.8-3.8,1.8c-0.2,0-0.3,0-0.5,0
    c-0.1,0-0.2,0-0.2,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.1,0-0.2-0.1c0,0-0.1,0-0.1,0c-2.1-0.7-3.5-2.8-3.5-5.3
    l0,0v0v0c0-0.3,0-0.5,0.1-0.8C3.3,4.7,5.4,2.5,8,2.5c0.9,0,2.5,0.3,3.6,1.5l1.5-2.2c0,0-1.3-1.9-5-1.9C3.7,0,0.4,3.3,0,7.3
    c0,0.3,0,0.6,0,0.8l0,0l0,0c0,4.3,3.2,7.9,7.7,8.1c0.2,0,0.3,0,0.5,0c0,0,0.1,0,0.1,0c0.3,0,0.5,0,0.7,0c0.1,0,0.2,0,0.3,0
    c0.2,0,0.3,0,0.5-0.1c2.7-0.1,4.7-2.3,4.7-3.4c0-5,0-5.7,0-5.7H7.9z"></path></g></svg>
            </span>
            <span class="username">
              {{ site.gitter_username }}
            </span>
</a>
          </li>
	  <li>
	    <a href="https://www.linkedin.com/in/justinheyesjones">
	      <span class="icon">
		<img src="/images/linkedin.png"/>
	      </span>
	      <span class="username">
		LinkedIn
	      </span>
	    </a>
	  </li>

	  {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

	  
        </ul>
      </div>
      
    </div>

    <div class="my-links">
      <span class="page-link">
      	<a href="/index.html">Posts by Date</a>
       </span>


      <span class="page-link">
      	<a href="https://www.youtube.com/c/FunctionalJustin">Functional Justin (YouTube)</a>
       </span>

      <span class="page-link">
      	<a href="/talks.html">Talks and Presentations</a>
       </span>

      <span class="page-link">
      	<a href="/privacy.html">Privacy Information</a>
      </span>

      </div>

  </div>

</header>
